.history__title {
  font-size: 20px;
  font-weight: 500;
}

.history {
  height: calc(100vh - 240px);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &__item {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
